@font-face {
    font-family: 'din-hiper';
    src: url('../../../assets/Fonts/D-DIN.otf' ) format('opentype');
}


.vid{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width:100%;
    column-width:100%;
    /* padding: 0.8rem; */
}

.vid .video{
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}

.vid .video:hover{
    transform: scale(0.98);
}


.titulo-anima{
        font-family: 'din-hiper';
        font-size: 26px ;
    
}

.titulo-ilustra, .link-ilustra{
    font-family: 'din-hiper';
    font-size: 26px !important;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

.image-ilustra{
    width: 92%;
}

@media (max-width: 480px){

    
    .titulo-anima{
    font-family: 'din-hiper';
    font-size: 22px ;

}

.titulo-ilustra, .link-ilustra{
font-family: 'din-hiper';
font-size: 22px !important;
text-decoration: none;
cursor: pointer;
color: #ffffff;
}
.vid {
    display: none !important;
}
}