.client{
    width: 10rem;
}

.yer, .publicis, .jwt{
    width: 7rem !important;
}

.dm9{
    width: 10rem !important;
}

@media (max-width: 480px){

    .clientes-hiperq{
        width: 100%;
    }
}