@font-face {
    font-family: 'din-hiper';
    src: url('../../../assets/Fonts/D-DIN.otf' ) format('opentype');
}
@font-face {
    font-family: 'din-hiper-bold';
    src: url('../../../assets/Fonts/D-DIN-Bold.otf' ) format('opentype');
}
@font-face {
    font-family: 'din-hiper-italic';
    src: url('../../../assets/Fonts/D-DIN-Italic.otf' ) format('opentype');
}

.mainEquipe{
    background-color:  #e9e9e9d0;
}

.title-bold{
    font-family: 'din-hiper-bold';
    font-size: 24px;
    margin-bottom: 0;
}

.font-medium{
    font-family: 'din-hiper';
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

.font-extra-light{
    font-family: 'din-hiper-italic';
    font-size: 18px;
    margin-top: -5px;
    
   
}

.equipe-memb{
    width: 300px;
    height: 370px;
}

@media (max-width: 480px){

    .equipe-memb{
        width: 150px !important;
        height: 187px !important;
    }

    .title-bold{
        font-family: 'din-hiper-bold';
        font-size: 14px;
        margin-bottom: 0;
    }
    
    .font-medium{
        font-family: 'din-hiper';
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 0;
    }
    
    .font-extra-light{
        font-family: 'din-hiper-italic';
        font-size: 9px;
        margin-top: -2px;
        
       
    }
}