@font-face {
    font-family: 'din-hiper';
    src: url('../../../assets/Fonts/D-DIN.otf' ) format('opentype');
}

.texto-sobre{
    background-color: #a19c9c;
    font-family: 'din-hiper';
}
.texto-sobre1{
    background-color: #ffffff;
    font-family: 'din-hiper';
}


@media (max-width: 600px){
  .sobre-nos{
    padding-top: 500px;
  }

}